#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media (max-width: 1024px) {
  body {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;
}

#next-steps ul .logo {
  height: 18px;
}

#next-steps ul a {
  color: var(--text-h);
  font-size: 16px;
  border-radius: 6px;
  background: var(--social-bg);
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

#next-steps ul a:hover {
  box-shadow: var(--shadow);
}

#next-steps ul .button-icon {
  height: 18px;
  width: 18px;
}

@media (max-width: 1024px) {
  #next-steps ul {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  #next-steps ul li {
    flex: 1 1 calc(50% - 8px);
  }

  #next-steps ul a {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
}

@media (max-width: 1024px) {
  #spacer {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;
}

.ticks::before,
.ticks::after {
  content: '';
  position: absolute;
  top: -4.5px;
  border: 5px solid transparent;
}

.ticks::before {
  left: 0;
  border-left-color: var(--border);
}

.ticks::after {
  right: 0;
  border-right-color: var(--border);
}
